*{  
    margin: 0;  
    outline: none;      
    box-sizing: border-box;
    background-color: rgba(227, 224, 222, 0.703);      
}


/*.form{
    display: block;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
}*/

.register{
    margin: 50px auto;
    width: 500px;
    height: 500px;
    outline: 2px solid black;      
    display: flex;
    align-items: center;
    justify-content:center ;
}


table tr {
    padding: 20px 20px 20px 20px;
    line-height: 50px;
}

.btn{
    color: #fff;
    background-color:#25509E;
    padding: 15px 40px;
    border-radius: 50px;
    margin-right: 20px;
}

.btn:hover{
    cursor: pointer;
    background-color: blue;
}

.contact{
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.contact a{
    background-color: #fff;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.contact a:hover{
    cursor: pointer;
    background-color: blue;
}


.media ul{
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.media ul li {
    margin-right: 40px;
}

.media ul li i{
    height: 10px;
    width: 10px;
}
